# build output
dist/

.env

# dependencies
node_modules/

# storybook
storybook-static/
storybook.log
debug-storybook.log

# playwright
/playwright-report/
/test-results/
/tests/e2e/screenshots/
/blob-report/
/playwright/.cache/
/playwright/.auth/
