@import 'tailwindcss';
@source './svelte';

@theme {
  --color-primary: #4285f4;

  /* - Brands - */
  --color-spotify: #1db954;
  --color-google: #4285f4;

  --shadow-center: 0 0 40px current-color;

  --animate-fade-in: fadeIn 0.5s ease-in;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  /* Shared styles for ContextMenu and DropdownMenu components */
  .menu {
    @apply z-50 rounded-lg border border-gray-200 bg-white py-2 shadow-md dark:border-gray-800 dark:bg-black/90;
  }
  .menu-group-heading {
    @apply px-2 text-xs font-bold text-gray-500 dark:text-gray-400;
  }
  .menu-item {
    @apply cursor-pointer px-2 py-1 text-xs text-gray-900 select-none focus:bg-gray-100 dark:text-white dark:focus:bg-gray-800;
  }
}
