@import 'tailwindcss';

@theme {
  --text-5xl: 3rem;
  --text-5xl--line-height: normal;
  --text-10xl: 9.5rem;
  --text-10xl--line-height: 1;
  --text-11xl: 10rem;
  --text-11xl--line-height: normal;
  --text-12xl: 12rem;
  --text-12xl--line-height: normal;
  --text-13xl: 14rem;
  --text-13xl--line-height: normal;

  /* COLORS */
  --color-primary: #4285f4;
  /* - Brands - */
  --color-spotify: #1db954;
  --color-google: #4285f4;

  --animate-fade-in: fadeIn 0.5s ease-in;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-progress: progress var(--progress-duration, 3000ms) linear forwards;
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

body {
  @apply bg-black;
}
